.banner-parallax {
    background-image: url("https://cdn.sanity.io/images/7yx5ag0h/production/af286422d960ebe1281721cb25150cac8873de49-999x455.jpg");
}

.service-parallax {
    background-image: url("https://cdn.sanity.io/images/7yx5ag0h/production/6197e4b1c57cac847c7b4e1338f5350615f2b3d2-595x387.webp");
}

.fun-parallax {
    background-image: url("https://cdn.sanity.io/images/7yx5ag0h/production/82909f5241bd22df544e4b29c73cd99a4ba7ccef-1440x900.png");
}

.bg-custom {
    background-color: rgba(83, 83, 117, 0.7);
}

.custom-tb li {
    @apply py-6 px-6 md:w-1/6;
}

.custom-ul {
    @apply flex md:flex-row flex-col flex-auto
}
.custom-ul li {
    @apply px-6 py-6 md:py-0 md:w-1/3 text-3xl font-semibold
}

.custom-ul li>ul {
    @apply flex-col
}

.custom-ul li>ul>li {
    @apply px-0 w-full py-0 text-lg font-semibold
}

.tr-className {
    @apply flex flex-col mb-4 md:table-row
  }

p {
    @apply py-2
}

/* .th-class, .td-class {
    @apply font-poppinsBold text-4xl md:w-1/4 md:py-10
} */