@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'PoppinsSemi';
  src: url('/font/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('/font/Poppins-Bold.ttf');
}
